// logged-in state
body.loggedIn {
  @media (max-width: 1000px) {

  }
}

.page-container {

  &.no-toc {
    .toc-wrapper { display: none; }
  }

  &.hide-toc {
    &.toc-button-stick {
      #left-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;

        #toc-button { position: initial; }
        #toc-outer {
          top: 30px;
          left: 10px;
        }
      }
    }
    #left-sidebar {
      #toc-button {
        display: flex;
        animation-name: blueFlash;
        animation-fill-mode: forwards;
        animation-duration: 1.5s;
      }
      .toc-wrapper {
        display: none;
        position: absolute;
        border: 1px solid #cccccc;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
        background: #fff;
        top: 63px;
        left: 42px;
        margin: 0;

        &.show {
          display: block;
        }

        .toc-header {
          .contents-title {
            #collapse-toc { display: none; }
            #pin-toc { display: initial; }
          }
        }


      }
    }
    #Introduction { margin-left: 32px; }
  }
}

#left-sidebar {
  position: relative;

  #toc-button {
    display: none;
    position: absolute;
    top: 28px;
    right: -72px;
    z-index: 9;
  }

  .toc-wrapper {
    min-width: 210px;
    max-width: 210px;
    height: fit-content;
    max-height: 90vh;
    margin: 65px 5px 0 0;
    position: sticky;
    top: 44px;
    z-index: 1;
    overflow-y: auto;
    padding: 5px 5px 16px 20px;
    display: block;
    border: none;
    box-shadow: none;
    background-color: transparent;

    .toc-header {
      padding: 12px;
      justify-content: space-between;
      padding-left: 10px;
      color: #54595d;

      .contents-title {
        margin: 0;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      line-height: 18px;
      padding-right: 5px;

      li {
        &.toc-level-1 {
          padding-left: 10px;
          li { display: none; }
          &.show-children li { display: block; }
          &.parent {
            span {
              width: 12px;
              height: 12px;
              position: absolute;
              left: -8px;
              top: 5px;
              cursor: pointer;
              background-image: url('/img/toggle-sections-arrow.svg');
              background-size: contain;
              background-repeat: no-repeat;
              transition: all 100ms;
              transform: rotate(-90deg);
            }
          }
          &.parent.show-children span {
            transform: rotate(0deg);
          }
          position: relative;
        }
        &.toc-level-2 {
          margin-left: 8px;
          font-weight: normal;
        }
        &.toc-level-3 { margin-left: 10px; }
        &.toc-level-4 { margin-left: 18px; }
      }
    }

    a {
      font-weight: normal;
      padding: 2px 0 2px 0;
      display: block;
      &.active {
        color: black;
      }
    }

    #collapse-toc, #pin-toc { display: initial; }

    #pin-toc {
      display: none;
      span { padding: 5px 0; }
    }

    a[href="#top"]:focus { text-decoration: none; }
  }
}

// below 1200px
@media (max-width: 1200px) {
  .page-container.hide-toc #left-sidebar .toc-wrapper { left: 9px; }
  #left-sidebar #toc-button { right: -40px; }
}

// below 1000px
@media (max-width: 1000px) {
  .page-container {
    &.toc-button-stick {
      #left-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;

        #toc-button { position: initial; }
        #toc-outer {
          top: 30px;
          left: 10px;
        }
      }
    }
    #left-sidebar {
      #toc-button { display: flex; }
      .toc-wrapper {
        position: absolute;
        border: 1px solid #cccccc;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
        background: #fff;
        top: 65px;
        left: 10px;
        margin: 0;
        display: none;

        &.show {
          display: block;
        }

        .toc-header {
          .contents-title {
            #pin-toc { display: none; }
          }
        }
      }
    }

    #Introduction { margin-left: 32px; }
  }
}

// below 720px
@media (max-width: 720px) {

}
